Repository airbnb/binaryalert, pull requests merged in 2019-02, with the labels that each got.

#140 updating deps and removing python3.6 restriction
  .travis.yml
  docs/source/getting-started.rst
  manage.py
  requirements.txt
  tests/ci_tests.sh
Labels: cli

#139 [terraform] enforcing ssl access only on s3 buckets
  terraform/s3.tf
Labels: terraform

#141 fixing bug with applying policy to optional resource
  terraform/s3.tf
Labels: terraform

#143 Fix pyfakefs deprecation warnings
  tests/cli/_common.py
  tests/lambda_functions/analyzer/file_hash_test.py
  tests/lambda_functions/analyzer/yara_analyzer_test.py
  tests/rules/clone_rules_test.py
  tests/rules/compile_rules_test.py
Labels: testing
